<nav class="navbar navbar-expand-lg bg-body-tertiary"
    style="margin-bottom: 28px;padding-right: 18px;padding-left: 18px;">
    <div class="container-fluid">
        <a class="navbar-brand custom-brand" href="#">Brainwave.io</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/demos']">Demos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pages-link" [routerLink]="['/pages']">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/support']">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/contact']">Contact</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-primary" type="submit">Get started a project</button>
            </form>
        </div>
    </div>
</nav>
<!-- First Part -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 left-side">
            <h2 class="small-headline">Let's shift your business.</h2>
            <h1 class="main-headline">Shift your business fast with Shade Pro.</h1>
            <p class="paragraph">With lots of unique blocks, you can easily build a page without coding. Build your next
                consultancy website within few minutes.</p>
            <div class="pro-box">
                <button class="btn btn-primary">Get started a project</button>
            </div>
        </div>

        <div class="col-md-6 right-side">
            <img src="https://s3-alpha-sig.figma.com/img/ad3c/ac35/9a49841825f8984b6b92cb76f7e8b4dc?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fSUQFWT7CX2WAhtirG2IfCFMojGeZhjgBgE~AGkTQ7iShXCsN-jYI5nyN2fiLTAddKxO3IzMr37iM84kA3UVG1hu4sscWY04nuU--F358~eTsjttT9l8ksXX4zEjx~NtE-UV6e4hRkt7MKa-oTRdkfgQSYrvnn4FN6tFxhy371nUOVMubgr-y4iHyS6T61JjqICmoRlHfwHM~wOXxWjjst3-GNriPZnsPge2VwJ8xSckL7tv~8-ERegAZuPTp7oKFhjkLRzYA0DJLG87d45JxDchbCmU6rV5ZBuW49DIAMzNweXQ9MN1fvrnELqS~R1br2YNwcuhy3GmDqsmHKBVrQ__"
                alt="Descriptive Image" class="centered-image">
        </div>

    </div>
</div>

<!-- seceond part -->
<div class="container-fluid">
    <div class="text-center">
        <h2 class="seceond-part-small-headline">Our services.</h2>
        <h3 class="seceond-part-main-headline">We provide great services for our <br>customers based on needs</h3>
    </div>

    <div class="row mt-4 space-outside" style="height: 50vh;">
        <div class="col-md-4">
            <div class="box" style="background-color: #68D585;">
                <img src="assets/graphic-design.png" alt="Graphic Design" class="box-image">
                <h4 class="box-headline">Graphic Design</h4>
                <p class="box-paragraph">
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing
                    page.
                </p>
                <a class="learn-more-link">
                    Learn more <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box" style="background-color: #473BF0;">
                <img src="assets/web-development.png" alt="Web Development" class="box-image">
                <h4 class="box-headline">Web Development</h4>
                <p class="box-paragraph">
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing
                    page.
                </p>
                <a class="learn-more-link">
                    Learn more <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box" style="background-color: #F64B4B;">
                <img src="assets/content writing.png" alt="Digital Marketing" class="box-image">
                <h4 class="box-headline">Digital Marketing</h4>
                <p class="box-paragraph">
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing
                    page.
                </p>
                <a class="learn-more-link">
                    Learn more <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="tird-part">
        <div class="row align-items-center text-center">
            <div class="col-md-4">
                <img src="https://s3-alpha-sig.figma.com/img/1d61/e37e/da5cdb1a76e0fe3a324be8c07003297e?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CDQPIGwzxfsTKgV1c5kVkN8n4Ct1NwgFdEaGigyJWIAD4~frlCndOvXcworvCjQaKzm92k~uAw85NWuBN773zRcUav4Tqu-JqOQZNGpvSzRaUrKZxV~gynOkhEOCnr43GsywuvwlOMCTvmMwgoVPnoZ2udT1HrE~9wiINoFhSajtWtdRkl2AMHA77Hl4hhKV41Dp2npTTLSg~xBz8DNeqPEfn6KxVLTwdkySuhXD26hx0Gh9KoraLtiGSObYbAspGcEjA-Jm5ESypVERc3UdDcpsEzv4qupUyDtRrGG9IRdHxOmTzcQ206zRqQWcG39ksWg5B6r8ZRbyNSwqUJGXBA__"
                    alt="Review Image" class="review-image">
            </div>
            <div class="col-md-8 text-start">
                <div class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="review-paragraph">
                    “OMG! I cannot believe that I have got a brand new landing page <br> after getting Albino. It was
                    super easy to edit and publish.”
                </p>
                <p class="review-person">
                    Franklin Hicks Web Developer
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Third Part -->
<div class="container-fluid space-outside">
    <h6 class="small-headline-third">Our Story</h6>
    <h2 class="large-headline-third">We know how everything works <br>and why your business is failing <br>over and over
        again.</h2>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="box-third">
                <img src="https://s3-alpha-sig.figma.com/img/daa9/dcc2/afe209ef235db21bfa91b9ffa3b9bb78?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=L3~jx0hfXRnKCbG46K~ptpW7MKHTR1zG6YVD~TKfEqfmnL93NzWnoEZPPkO246B0u6tVTkW6zReyAueeO7adm3twZN9chotOSKZlvdq5GvI9Geedfh9wTqG0-QMBZjVZja~LJ7XXLFNbAbwySf4Y6Fes4Ogus-KuO5Z2TZ~-z12-Z1S-rZuTWMhgzb4DMxtoY5shup1UPoqGlilLMYwLFshVH-Lzgkpa8pe62O-EeHHD5v3PhAfHazfvKtwwL1HmInwRqZB5YUYpyQ85Ms2KvQWXTnkYvS7xOxyogkGI2lMetxq~Y4lA8H~h1vDm7KNI6HK~Wic7tP2RRY5r7l7gBw__"
                    alt="Box 1 Image" class="box-image-third">
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-seceond">
                <div class="box-image-container">
                    <img src="https://s3-alpha-sig.figma.com/img/c585/7948/c927c703e09aec43fcf381f0659f1882?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jy0hozQsoTW6xYdRGzuBJBSH-mgtwqqjCIsuWzxc45oR3T13rrsz1K5WH1-vD6zPIbBAqVcXCQT57bzwFzT15Ukr9EyLLcUXfJ6Tbcm~Uy4JNd4fhe4vPlye5MEw9Gt3gIl~Lt-KbEnpog4riEWpB9U5OmNr1CxT2vRLd56PCgGK2t~AbPIb4ApTB5NZOxDu69tT6hrlRLVxvk8B9xCVVIdvCryyCk935EXFO1gMOKEqzYzvIJbSxhPkQprjtPlDyz6g8AnP0~YhyC~EhN-VyYz32fi5lkhP274vf02HRARe5ENVhUSd~OOgpsm6BOEZL4~458baaiUEb1XCisubAA__"
                        alt="Box 2 Image" class="box-image-seceond">
                </div>
                <div class="box-content">
                    <p class="box-paragraph-third">
                        We share common trends and strategies for improving your rental income and making sure you stay
                        in high demand. With lots of unique blocks, you can easily build a page without coding. Build
                        your next landing page.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box-fourth">
                <img src="https://s3-alpha-sig.figma.com/img/054d/5318/57a4f4cd4d8b5959cddb0a7bfa472706?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VKIzePiwjKyXO2shB~FktF0atMHrUBLUyHDOa~4OQDqQKHqQGBmmPcrEVcXkp~Nt2fqeBo9JI81FIZ6O~V4iXMuZlKdtILNF21O~rcU8jtINYL6hkACJUiqxTFfyI-S-vn8ee~T4vIbv2wJ5XQ6dwkHMo9aorlaSdHEhiJkw~hDfNThW1HWzmhEUrKsmfJIVHOmPSqmVui4-NNY1CFPSjKcOzO2x84ES8maha2AQcJnQ8AoXye3NZpyEuHtFpVCtKRNJC~Bmr1YwBrq0oZlceZrSyknWiW3h1rw-ZG9YEy4DAQBcNwwDSPNnNhfnLmlwIxWcC-ZtUYLHBAgYvjJlrQ__"
                    alt="Centered Image" class="centered-small-image">
            </div>
        </div>
    </div>
</div>

<!-- Fourth Part -->
<div class="container-fluid space-outside">
    <div class="row-fourth">
        <div class="col">
            <h2 style="font-weight: 700;">1M+</h2>
            <p style="font-weight: 500;">Customers visit Omega every month to get their service done.</p>
        </div>
        <div class="col">
            <h2 style="font-weight: 700;">92%</h2>
            <p style="font-weight: 500;">Satisfaction rate comes from our awesome customers.</p>
        </div>
        <div class="col">
            <h2 style="font-weight: 700;">4.9/5.0</h2>
            <p style="font-weight: 500;">Average customer ratings we have got all over internet.</p>
        </div>
    </div>
</div>

<!-- Fifth Part -->
<div class="container-fluid space-outside fifth-top">
    <div style="text-align: center;">
        <h4 style="color: red; font-size: 16px;">Why choose us</h4>
        <h2 class="fifth-paragraph">
            People choose us because we <br> serve the best for everyone
        </h2>
    </div>
    <div class="inform-body d-flex flex-wrap justify-content-center">
        <div class="box-inform">
            <div class="box-content">
                <div class="icon-section">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="text-section">
                    <h3>Dedicated project manager</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
        </div>

        <div class="box-inform">
            <div class="box-content">
                <div class="icon-section">
                    <i class="bi bi-box-fill" style="color: #F64B4B;"></i>
                </div>
                <div class="text-section">
                    <h3>Organized tasks</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
        </div>

        <div class="box-inform">
            <div class="box-content">
                <div class="icon-section">
                    <i class="bi bi-chat" style="color: #68D585;"></i>
                </div>
                <div class="text-section">
                    <h3>Easy feedback sharing</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
        </div>

        <div class="box-inform">
            <div class="box-content">
                <div class="icon-section">
                    <i class="bi bi-moon-fill" style="color: black;"></i>
                </div>
                <div class="text-section">
                    <h3>Never miss deadline</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box-fifth space-outside" style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="text-content-fifth">
            <h3>Ready to launch your next project?</h3>
            <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
        <div class="button-content">
            <button class="start-button">Get started a project</button>
        </div>
    </div>

</div>

<!-- sixth part -->
<div class="container-fluid space-outside sixth-top">
    <div style="text-align: center;">
        <h4 style="color: red; font-size: 16px;margin-top: 6rem;">Case studies</h4>
        <h2 class="sixth-paragraph">
            Our works describe why we are <br> the best in the business
        </h2>
    </div>
</div>

<!-- sevnth part -->
<div class="container-fluid space-outside seventh-part">
    <div class="inform-body-seventh d-flex flex-wrap justify-content-center">
        <div class="box-inform-seventh">
            <img src="https://s3-alpha-sig.figma.com/img/74b1/501d/6ca59754c6fdc9707609c1c1fdb21635?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nMFpPEZ0~4LjuUVDCk8Pbpf9V5ayCYaTlXA908H4YUAQzlilGWpqFqbLiUOSLQ2Iwv3RxpzkRGz71EN~tWlBOjBh853gRKUNvpebm15XZG3sDc0Lf-dFngdLyanYRXjhcgeqYSHWnKfoxwDeQR2PjgnNypPjq6x31Jlc7p6ZEoye3n3Liyd0JVoG4ZSgda5F~L6DXZ4FaQ4VDFk~LD0KaIuWhHTwOfIZ~7WlNpEnUq7hMEUIFgD~SmBFBA8Xhztu9glpZbhPU75amAKtej9iOEJnnCWcPZQnVlEDkdKzEzuidRz0eV~tbDrfRVVUGjtAvfGVFRyekgAttwTrxKtaJA__"
                alt="Centered Image" class="centered-small-image-seventh">
            <h4 class="small-headline">Graphic design</h4>
            <h2 class="big-headline">Aura Branding Design</h2>
        </div>

        <div class="box-inform-seventh">
            <img src="https://s3-alpha-sig.figma.com/img/a7b0/5474/d70ce6a0469e5928d6265a39012f0252?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IRhgpMhUYoQrrKsQXUj7za-g7knUYsaL3i1niHmTuJLrhR4kD9JG0GLWTweEvuYeaUdFCpbvbhu5jtEnnmXKphfgyPQvH-5eF6ZJUqHxn0znnkvPptCVbesSepjJcM6gDj8jvJaMspwOZ6zy34wRey6L9HlMrojzDGtoecPT15URFgFd7hFYZ3cPshrOHGJOTNa2PNZEJDrdObiYc4flvPP7MD7fC6rcXeNr~PPFP~wgEO33BxXdEtqxf8OpLuWxyB0FZundZivI1ifJ6TgtPIRuSeBhd6wdWcsdbjgaaNS9AAQJ8meBqQ3HmbmdrLC68L~Bkljxh3k-SY2gc35Jgg__"
                alt="Centered Image" class="centered-small-image-seventh">
                <h4 class="small-headline">Graphic design</h4>
                <h2 class="big-headline">AB.S Snack Packaging</h2>
        </div>

        <div class="box-inform-seventh">
            <img src="https://s3-alpha-sig.figma.com/img/6fd6/9ffe/d9f27ae47f6a82913236a6a84b5d81a3?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U1~QAI3HaiiR6PqQoHht-COPLG8V4OpkQ-TUNUy4HcpSzKbrp36Auk3y7fxqzJ6I1HLY8bVsHgXPWCak3TRt0Blv1jsus~IUPwOAwdCUYxwdC6p~rqojuT180NLun~~ufItgDTMEsQz2NQ8ZPYfQPGZPfSV0Z~UH3nhkx6pnvnsiH6ws7TCOg0eeDOTxrlq0h8qh16wRu1NMxLhO3sJzBhgrmeZQhSh1pqeQYc6I~-DRQu3uSObvQ0Tr18aQbyrX6klMzszSEvnRIKHdIYiyD5qTPgx45tWI9iTUNBYGNdTI4Az3jrA-uGoMkqEzb3mS-LfjIQO2V1x6~O65LOiB-A__"
                alt="Centered Image" class="centered-small-image-seventh">
                <h4 class="small-headline">Web Development</h4>
                <h2 class="big-headline">Gradient Website Development</h2>
        </div>

        <div class="box-inform-seventh">
            <img src="https://s3-alpha-sig.figma.com/img/b8a9/36f6/c8f46b5a8439ea9c4932b76920866a1d?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=odNNz3Y6fVV9RJd3BYLOaFTdaXDcCATUcwumqUfC75GSEcfmu8ilGwr0RDpkPmsF5LGbd1bFe9FYgch1817F-wYj3rRoBkZ2c7Llm8Ne-gTJMMbGl2L2cjKb2cj3ELwHbAWNC6bNCTx2AS5F3CUx7aoDCntM21raQMf01n8bewi4zyHvmalM-CDAtpgc5sZJ0t~AYBWg-eRHwAZ64xEZ0mEG8ZRgsIez5vkebs3YEJb4IbAh3zGlJJvP9wikALFlvy7-Gw1wLQJ-VfD71gsUWRasHvkuN-ff4~BWT8IK9PU-V0Om4TGbkETAQVnJfPAxSqxlvMTH9Jiq2w~JQzxtvw__"
                alt="Centered Image" class="centered-small-image-seventh">
                <h4 class="small-headline">Content Writing</h4>
                <h2 class="big-headline">Magazine Content Writing</h2>
        </div>
    </div>
    <div class="learn-more-center">
        <a class="learn-more-link-seventh">
            See all Works &nbsp;<i class="bi bi-arrow-right"></i>
        </a>
    </div>
</div>

<!-- eight part -->
<div class="testimonial-box space-outside">
    <h4 class="small-title">Testimonial</h4>
    <p class="big-quote">“Simply the best. Better than all the rest. I'd <br> recommend this product to beginners and advanced users.”</p>
    <img src="https://s3-alpha-sig.figma.com/img/4e26/b8d0/82e79b0ed46b43e7d015fc9e9cc46433?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QUZG5AcEffmJNeD5Tpqz56ud1F2CVAHqDprTC9CD8us40QTTL0tdVLyix0zRCjyWN-k5SMTikXOaN67-B45biOPvySxfZs2scsKcrNR6~aEcD14Qq6Vy0OZxjzOPuvkn4hYRqru1xFNo1VNtLBQRb-A6gi2y2yX7eq-DVywKQYp2Em97OFxQZVAN6uvr~PfA3CyZLRphD8pm4JXkfMmGj8sduhRWkYLw6V4TpFYnACa9~8KVZocR2RTIToK~qSkjnwCDj5BQ9Sfvz~kQdLjoolpj-CQQi14hZH7TG4TwbObjYrKUl~zJlLZJl~MP5VjNuTUuFhmIyvCbJYA0E1ltAg__" alt="User Image" class="circle-image">
    <h5 class="name-title">Ian Klein</h5>
    <p class="role-title">Digital Marketer</p>
</div>

<!-- ningth part -->
<div class="footer-start space-outside">
    <div class="content-box-ningth space-outside">
        <div class="text-content-ningth" style="margin-top: 14px;">
            <h3>Ready to launch your next project?</h3>
            <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
        <div class="button-content">
            <button class="start-button">Get started a project</button>
        </div>
    </div>
    
    <div class="footer">
        <div class="footer-brand">
            <h2 style="color: aliceblue;">Brainwave.io</h2>
            <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <div class="social-icons">
                <a href="#" class="social-link"><i class="bi bi-twitter"></i></a>&nbsp;
                <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>&nbsp;
                <a href="#" class="social-link"><i class="bi bi-linkedin"></i></a>&nbsp;
                <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>&nbsp;
            </div>
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                    <li>Careers</li>
                    <li>Press</li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Product</h4>
                <ul>
                    <li>Features</li>
                    <li>Pricing</li>
                    <li>News</li>
                    <li>Help desk</li>
                    <li>Support</li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Services</h4>
                <ul>
                    <li>Digital Marketing</li>
                    <li>Content Writing</li>
                    <li>SEO for Business</li>
                    <li>UI Design</li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Legal</h4>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Return Policy</li>
                </ul>
            </div>
        </div>
    </div>
    

</div>